CompileFlags:
  Add:
    - -I./lib
    - -I./include
    - -I./src
    - -std=c++17
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wundefined-inline
    - -Wunused-member-function
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -Wno-frame-address
    - -fno-tree-switch-conversion
  CompilationDatabase: .

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - readability-redundant-declaration
